#graph_vis {
    height: 300px;
    width: 400px;
    background-color: #f9f7ed;
    border: 1px solid #ddd;
    margin: 1em 0;
}

#stackable_control_panel {
    position: absolute; 
    top: 65px; 
    left: 836.484375px; 
    width: 350px; 
    display: block;
    background-color: silver;
}
